# ===========================================
# Zabbix Template - Dell OME
# ===========================================

# Временные файлы
*.log
*.cache
.env

# Editor
.vscode/
.idea/
__pycache__/
*.pyc
*.pyo
*.md~

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# GitHub
.github/

# PDF документация (опционально)
# dell-openmanage-enterprise_reference-guide8_en-us.pdf

# Qwen
QWEN_CONTEXT.md
.qwen/
